html{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
    /* scroll-behavior: smooth; */
}
body{
    background-color: antiquewhite;
}
nav{
    position: fixed;
}

#title{
    padding-bottom: 60px;
}

/* Panel setup */
.panel-border{
    height: 400px;
    width: 50%;
    background-color: transparent;
    /* border: 3px solid black; */
    margin: auto;
    margin-bottom: 200px;
}
.panel{
    height: 100%;
    width: 100%;
    position: relative;
}
.speech{
    margin-bottom: 20px;
}


/* Images */
.bg{
    max-height: 95.5%;
}


#top-sam, #bot-sam{
    position: absolute;
    top: 75%;
    left: 30%;
    max-height: 25%;
}
#top-sam{
    max-height: 35%;
    top: 60%;
}
#top-animal{
    position: absolute;
    top: 48%;
    left: 35%;
    max-height: 50%;
}
#bot-animal{
    position: absolute;
    top: 80%;
    left: 50%;
    max-height: 25%;
}

svg{
    position: absolute;
    opacity: 0;
    max-height: 25%;
}
#topLefty{
    top: 45%;
    left: 67%;
    display: none;
}
#topRighty{
    top: 38%;
    left: 30%;
    display: none;
}
#botLefty{
    top: 55%;
    left: 55%;
}
#botRighty{
    top: 50%;
    left: 15%;
}


#Samthank,#HiS,#HiT,#Deertext,#Penguintext{
    display: none;
}
#topLefty #Turtletext{
    display: none;
}
#topRighty #Deertext{
    display: block;
}
#botRighty #Samthank, #topLefty #Samthank{
    display: block;
}



/* Page transition */
#page-end {
    border-left: 3px solid black;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0%;
    /* display: none; */
    background-color: antiquewhite;
    width: 100%;
    animation: turning 3s forwards;
}
@keyframes turning {
    0% {right: -100%;}
    90% {right: 9%; opacity: 1;}
    99% {right: 0%; opacity: 0;} /* opacity: 0.2; */
    100% {right: 0%; opacity: 0; display: none;}
}



/* Default text types */
p, h1, h2{
    margin: 0;
}